<div class="row">

  <div class="col s12 m12 l12">
    <h2 class="title-page">Todos os animais</h2>
    <p class="subtitle-page">Encontre um animal que se encaixe com seu perfil</p>

    <div class="input-field col s12 m2 l2">
      <select>
        <option value="">Todos</option>
        <option value="1">Pequeno</option>
        <option value="2">Médio</option>
        <option value="3">Grande</option>
      </select>
      <label>Selecionar por Porte</label>
    </div>

    <div class="input-field col s12 m2 l2">
      <select>
        <option value="">Todos</option>
        <option value="1">Macho</option>
        <option value="2">Fêmea</option>
      </select>
      <label>Selecionar por Gênero</label>
    </div>

    <div class="input-field col s12 m2 l2">
      <select>
        <option value="">Todos</option>
        <% show_categories.each do |category| %>
        <option value="1"><%= category.title %></option>
        <% end %>
      </select>
      <label>Selecionar por Categoria</label>
    </div>
    <br>
    <a class="green darken-4 text-grey-1 btn"><i class="material-icons left">search</i>Pesquisar</a>
  </div>
  <div class="col s12 m12 l12">
    <br>
  </div>

</div>
