
<div class="col s12 m3 l3">
  <div class="row">
    <div class="col s12">
      <h3 class="title-page">Filtrar por</h3>
    </div>
    <div class="input-field col s12 m12 l12">
      <select>
        <option value="">Todos</option>
        <option value="1">Pequeno</option>
        <option value="2">Médio</option>
        <option value="3">Grande</option>
      </select>
      <label>Porte</label>
    </div>

    <div class="input-field col s12 m12 l12">
      <select>
        \<option value="">Todos</option>
        <option value="1">Macho</option>
        <option value="2">Fêmea</option>
      </select>
      <label>Gênero</label>
    </div>

    <div class="input-field col s12 m12 l12">
      <select>
        <option value="">Todos</option>
        <option value="1">Cachorro</option>
        <option value="2">Gato</option>
      </select>
      <label>Tipo</label>
    </div>
    <div class="col s12">
      <a class="green darken-4 text-grey-1 btn"><i class="material-icons left">search</i>Pesquisar</a>
    </div>
  </div>
</div>

