<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center orange-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae excepturi eligendi doloribus explicabo, placeat dolorem dolores eum tempora rerum deserunt unde similique eaque quo, iusto obcaecati esse at inventore. Temporibus?</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center orange-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae excepturi eligendi doloribus explicabo, placeat dolorem dolores eum tempora rerum deserunt unde similique eaque quo, iusto obcaecati esse at inventore. Temporibus?</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center orange-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae excepturi eligendi doloribus explicabo, placeat dolorem dolores eum tempora rerum deserunt unde similique eaque quo, iusto obcaecati esse at inventore. Temporibus?</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>
